:root{
    --fundo-tela: #17162E;
    --fundo-filme: #1D1C3B;
    --cinza: #ACACAC;
    --lilas: #706EA8;
    --branco: #FFFFFF;

    --font: "Kumbh Sans", sans-serif;
}

body{
    background-color: var(--fundo-tela);
    color: var(--branco);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
    font-family: var(--font);
}

.container-titulo{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 48px;
}

.container__input{
    display: flex;
    flex-direction: row;
}

.container-pesquisa{
    font-size: 18px;
    font-weight: 400;
    padding: 26px;
    width: 613px;
    border-radius: 8px 0 0 8px;
    color: var(--branco);
}

.container-pesquisa,
.container-pesquisa-icone{
    background-color: #ffffff21;
    border: none;
    margin-bottom: 30px;
}

.container-pesquisa-icone:hover{
    background-color: #ffffff60;
}

.container-pesquisa-icone{
    border-radius: 0 8px 8px 0;
    padding: 1em;
}

.container-checkbox-label{
    font-size: 18px;
    font-weight: 500;
    padding-left: 11px;
}

.filme{
    display: flex;
    flex-direction: row;
    margin: 64px 108px 48px 108px;
    border: none;
    border-radius: 4px;
    background-color: var(--fundo-filme);
}

.filme__imagem{
    padding: 24px 16px 24px 38px;
}

.filme-imagem{
    width: 170px;
    height: 250px;
    object-fit: cover;
}

.filme-titulo,
.avaliacao-paragrafo,
.filme-sinopse {
    font-family: var(--font);
    font-weight: 500;
    text-align: left;
}

.avaliacao-paragrafo{
    padding-right: 45px;
}

.filme__texto{
    margin: 64px 50px 38px 64px;
    width: fit-content;

}

.filme-titulo{
    width: fit-content;
    margin-bottom: 24px;
}

.filme__avaliacao,
.filme__fav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.filme__sinopse{
    line-height: 177%; /*espaçamento entre linhas de texto*/
    color: var(--cinza);
    margin: 64px 38px 38px 0;
    
}

.img-coracao{
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 1000px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-titulo{
        padding-bottom: 24px;
    }

    .container-pesquisa{
        width: 300px;
        padding: 14px;
    }

    .filme{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 50px;
    }

    .filme__texto{
        margin: 0;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .avaliacao-paragrafo{
        padding-right: 10px;
    }

    .filme__imagem{
        padding: 20px;
    }

    .filme__sinopse{
        padding: 20px;
        margin: 0;
        font-size: 14px;
        text-align: justify;
    }
}

@media only screen and (max-width: 600px) {

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-titulo{
        font-size: 24px;
        padding-bottom: 24px;
    }

    .container-pesquisa{
        width: 300px;
        padding: 14px;
        font-size: 12px;
    }

    .container-checkbox-label{
        font-size: 14px
    }

    .filme,
    .filme__texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filme{
        margin: 50px;
    }

    .filme__texto{
        margin: 0;
        font-size: 14px;
    }
    .avaliacao-paragrafo{
        padding-right: 10px;
    }

    .filme__imagem{
        padding: 20px;
    }

    .filme__sinopse{
        padding: 20px;
        margin: 0;
        text-align: justify;
    }
}

